<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}


Index



{% endblock %}

{% block content %}
<h1>Sobre mim

</h1>



<p> Adoro ocupar meu tempo com o que me faz bem. Passo horas pintando e criando no meu canto, mas também não abro mão de sair para andar de bicicleta e sentir um pouco de liberdade. Além disso, gosto de ler, cuidar das minhas plantas e cozinhar algo diferente de vez em quando. Gosto dessa mistura de ficar tranquila em casa e estar em movimento lá fora
    </p>
    


{% endblock %}