<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}



{% endblock %}

{% block content %}
<h1>Sobre a linguagem Python</h1>



<h1>Currículo</h1>
<h2>Informações Pessoais</h2>
<ul>
<li>Nome: Analice Carvalho Fernandes</li>
<li>Email: 12400572@aluno.cotemig.com.br</li>
<li>Telefone: (31) 7146-9693</li></ul>



<h2>Experiência Profissional</h2>
<ul>
<li>Empresa: COTEMIG</li>
<li>Cargo: Aluno</li>
<li>Período: Terceiro ano 2026</li></ul>



{% endblock %}